/* main.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #0f172a;
    --secondary-color: #3b82f6;
    --background-color: #f8fafc;
    --text-color: #334155;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}
